body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #163152;
  background-color: #fdfdff;
  margin: 0;
}

.page-header {
  width: 1170px;
  padding: 20px 55px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.main-nav {
  display: flex;
}

.logo {
  margin: 0;
}

.site-navigation {
  min-width: 560px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: 40px;
}

.site-navigation-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #163152;
  text-decoration: none;
}

.page-main {
  width: 1170px;
  padding: 0 55px;
  margin: 0 auto;
}

.hero { 
  margin-bottom: 120px;
}

.hero h1 {
  font-style: italic;
  font-weight: normal;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 40px;
}

.blog-article {
  width: 1030px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

.blog-article-2 {
  margin-bottom: 120px;
}

.blog-article-2 img {
  order: -1;
}

.blog-article h2 {
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
  margin: 0;
  margin-bottom: 35px;
}

.blog-article-date {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  /* margin: 0; */
  margin-bottom: 10px;
}

.news {
  font-size: 18px;
  line-height: 26px;
  width: 770px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.news h2{
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00C6BD;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
  text-align: center;
  margin: 0;
  margin-bottom: 55px;
}

.news-hero-figure {
  font-size: 16px;
  line-height: 19px;
  color: #8693A4;
  margin: 0;

}

.news h3 {
  font-size: 22px;
  line-height: 26px;
  /* margin: 0; */
}

blockquote p {
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
}

.name-author {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.data-news {
  font-size: 16px;
  line-height: 19px;
  color: #8693A4;
}

.contacts {
  display: flex;
}

.container-contacts {
  width: 100%;
}

.contacts-map {
  order: -1;
  margin-right: 100px;
}

.contacts h2 {
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
  margin: 0;
  margin-bottom: 35px;
}

.contact-item {
  font-size: 16px;
  line-height: 22px;

}

.contact-item h3 {
  font-size: 16px;
  line-height: 22px;
}

.contact-item address {
  font-style: normal;
}

.contact-item a {
  color: #163152;
  text-decoration: none;
}

.main-footer {
  font-size: 10px;
  line-height: 12px;
  margin-top: 120px;
  padding: 60px 0 ;
}

.container-footer {
  width: 1170px;
  margin: 0 auto;
  padding: 0 55px;
  display: flex;
}

.footer-navigation-topics {
  font-size: 14px;
  line-height: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
}

.footer-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container-logo {
  margin-right: 125px;
}

.footer-navigation-topics {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation-topic h2 {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.footer-navigation-item a {
  color: #163152;
  text-decoration: none;
}

.policy a {
  color: #163152;
  text-decoration: none;
}
